/* ConfigConnection.css */

/* Styles for ConfigConnection component */

.container1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .form1 {
    width: 300px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .label1 {
    display: block;
    margin-bottom: 8px;
  }
  
  .input1 {
    width: calc(100% - 20px);
    padding: 10px;
    margin-bottom: 16px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  .button1 {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  /* Styles for AdminConnector component */
  
  .header-admin1 {
    text-align: center;
  }
  
  .connector-buttons1 {
    display: flex;
    justify-content: center;
    gap: 10px; /* Adjust the gap between buttons as needed */
    margin-top: 20px; /* Add margin to separate buttons from the header */
  }
  
  .connector-buttons1 button {
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }