/* LoginPage.css */

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
  }
  
  .loginBox {
    width: 500px; /* Updated width */
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 10px;
  }
  
  .input {
    width: calc(100% - 20px); /* Adjusted width for input elements with added margin */
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  .button {
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  